.App {
  text-align: center;
  align-items: center;
  margin-top: 100px;
}

.button__div {
  display: flex;
}

.question__numbers {
  /* display: flex; */
  margin-bottom: 50px;
}

@media (max-width: 650px) {
  .App {
    margin-top: 50px;
  }
}
